
/* Aling icon to left */

#about .about-content .content-item{

    display: flex;
    text-align: left;

}

#about .about-content .content-item i{

  margin-right: 1rem;
  align-self: center;
}


.map{

    flex: 2;
}

